<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Contents</key>
	<array>
		<dict>
			<key>Address</key>
			<string>9178226513</string>
			<key>Message</key>
			<string>Message #10</string>
			<key>State</key>
			<integer>1</integer>
			<key>TimeStamp</key>
			<string>2006-04-20 15:43:56 -0400</string>
		</dict>
		<dict>
			<key>Address</key>
			<string>9178226513</string>
			<key>Message</key>
			<string>Message #9</string>
			<key>State</key>
			<integer>1</integer>
			<key>TimeStamp</key>
			<string>2006-04-20 15:43:56 -0400</string>
		</dict>
		<dict>
			<key>Address</key>
			<string>19176091707</string>
			<key>Message</key>
			<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque gravida, elit metus!</string>
			<key>State</key>
			<integer>0</integer>
			<key>TimeStamp</key>
			<string>2007-07-17 12:38:40 -0400</string>
		</dict>
		<dict>
			<key>Address</key>
			<string>9178226513</string>
			<key>Message</key>
			<string>Message #8</string>
			<key>State</key>
			<integer>1</integer>
			<key>TimeStamp</key>
			<string>2006-04-20 15:43:56 -0400</string>
		</dict>

		
			<dict>
				<key>Address</key>
				<string>9178226513</string>
				<key>Message</key>
				<string>Message #7</string>
				<key>State</key>
				<integer>1</integer>
				<key>TimeStamp</key>
				<string>2006-04-20 15:43:56 -0400</string>
			</dict>
			<dict>
				<key>Address</key>
				<string>9178226513</string>
				<key>Message</key>
				<string>Message #6</string>
				<key>State</key>
				<integer>1</integer>
				<key>TimeStamp</key>
				<string>2006-04-20 15:43:56 -0400</string>
			</dict>
			<dict>
				<key>Address</key>
				<string>9178226513</string>
				<key>Message</key>
				<string>Message #5</string>
				<key>State</key>
				<integer>1</integer>
				<key>TimeStamp</key>
				<string>2006-04-20 15:43:56 -0400</string>
			</dict>
		<dict>
			<key>Address</key>
			<string>9178226513</string>
			<key>Message</key>
			<string>oh really?</string>
			<key>State</key>
			<integer>1</integer>
			<key>TimeStamp</key>
			<string>2006-04-20 15:43:56 -0400</string>
		</dict>
		<dict>
			<key>Address</key>
			<string>9178226513</string>
			<key>Message</key>
			<string>1 blah blah blah</string>
			<key>State</key>
			<integer>1</integer>
			<key>TimeStamp</key>
			<string>2006-04-20 15:43:56 -0400</string>
		</dict>
		<dict>
			<key>Address</key>
			<string>16465547323</string>
			<key>Message</key>
			<string>Deep thoughts  ...Ahhh</string>
			<key>State</key>
			<integer>0</integer>
			<key>TimeStamp</key>
			<string>2007-07-17 12:37:43 -0400</string>
		</dict>
		
		<dict>
			<key>Address</key>
			<string>9178226513</string>
			<key>Message</key>
			<string>it works</string>
			<key>State</key>
			<integer>1</integer>
			<key>TimeStamp</key>
			<string>2006-04-20 15:43:56 -0400</string>
		</dict>
		<dict>
			<key>Address</key>
			<string>9178226513</string>
			<key>Message</key>
			<string>it works</string>
			<key>State</key>
			<integer>1</integer>
			<key>TimeStamp</key>
			<string>2006-04-20 15:43:56 -0400</string>
		</dict>
		<dict>
			<key>Address</key>
			<string>9178226513</string>
			<key>Message</key>
			<string>it works</string>
			<key>State</key>
			<integer>1</integer>
			<key>TimeStamp</key>
			<string>2006-04-20 15:43:56 -0400</string>
		</dict>
		<dict>
			<key>Address</key>
			<string>9178226513</string>
			<key>Message</key>
			<string>it works</string>
			<key>State</key>
			<integer>1</integer>
			<key>TimeStamp</key>
			<string>2006-04-20 15:43:56 -0400</string>
		</dict>
		<dict>
			<key>Address</key>
			<string>9178226513</string>
			<key>Message</key>
			<string>it works</string>
			<key>State</key>
			<integer>1</integer>
			<key>TimeStamp</key>
			<string>2006-04-20 15:43:56 -0400</string>
		</dict>
		<dict>
			<key>Address</key>
			<string>9178226513</string>
			<key>Message</key>
			<string>it works</string>
			<key>State</key>
			<integer>1</integer>
			<key>TimeStamp</key>
			<string>2006-04-20 15:43:56 -0400</string>
		</dict>
		<dict>
			<key>Address</key>
			<string>9178226513</string>
			<key>Message</key>
			<string>it works</string>
			<key>State</key>
			<integer>1</integer>
			<key>TimeStamp</key>
			<string>2006-04-20 15:43:56 -0400</string>
		</dict>
		<dict>
			<key>Address</key>
			<string>9178226513</string>
			<key>Message</key>
			<string>it works</string>
			<key>State</key>
			<integer>1</integer>
			<key>TimeStamp</key>
			<string>2006-04-20 15:43:56 -0400</string>
		</dict>
		<dict>
			<key>Address</key>
			<string>9178226513</string>
			<key>Message</key>
			<string>it works</string>
			<key>State</key>
			<integer>1</integer>
			<key>TimeStamp</key>
			<string>2006-04-20 15:43:56 -0400</string>
		</dict>
		<dict>
			<key>Address</key>
			<string>9178226513</string>
			<key>Message</key>
			<string>it works</string>
			<key>State</key>
			<integer>1</integer>
			<key>TimeStamp</key>
			<string>2006-04-20 15:43:56 -0400</string>
		</dict>
		<dict>
			<key>Address</key>
			<string>9178226513</string>
			<key>Message</key>
			<string>it works</string>
			<key>State</key>
			<integer>1</integer>
			<key>TimeStamp</key>
			<string>2006-04-20 15:43:56 -0400</string>
		</dict>
		<dict>
			<key>Address</key>
			<string>9178226513</string>
			<key>Message</key>
			<string>it works</string>
			<key>State</key>
			<integer>1</integer>
			<key>TimeStamp</key>
			<string>2006-04-20 15:43:56 -0400</string>
		</dict>
		<dict>
			<key>Address</key>
			<string>9178226513</string>
			<key>Message</key>
			<string>it works</string>
			<key>State</key>
			<integer>1</integer>
			<key>TimeStamp</key>
			<string>2006-04-20 15:43:56 -0400</string>
		</dict>

	</array>
</dict>
</plist>
