<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Contents</key>
	<array>
		
		<dict>
			<key>Address</key>
			<string>14058193329</string>
			<key>Message</key>
			<string>Your fly is open. Or is it mine???</string>
			<key>State</key>
			<integer>0</integer>
			<key>TimeStamp</key>
			<string>2007-07-17 12:37:15 -0400</string>
		</dict>
	</array>
</dict>
</plist>
