<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Contents</key>
	<array>
		<dict>
			<key>Address</key>
			<string>9178226513</string>
			<key>Message</key>
			<string>the meaning of life...</string>
			<key>State</key>
			<integer>1</integer>
			<key>TimeStamp</key>
			<string>2006-04-20 15:43:56 -0400</string>
		</dict>
		<dict>
			<key>Address</key>
			<string>9178226513</string>
			<key>Message</key>
			<string>nine</string>
			<key>State</key>
			<integer>1</integer>
			<key>TimeStamp</key>
			<string>2006-04-20 15:43:56 -0400</string>
		</dict>
			<dict>
				<key>Address</key>
				<string>9178226513</string>
				<key>Message</key>
				<string>i love you, sweetie!!</string>
				<key>State</key>
				<integer>1</integer>
				<key>TimeStamp</key>
				<string>2006-04-20 15:43:56 -0400</string>
			</dict>
		<dict>
			<key>Address</key>
			<string>9178226513</string>
			<key>Message</key>
			<string>eight</string>
			<key>State</key>
			<integer>1</integer>
			<key>TimeStamp</key>
			<string>2006-04-20 15:43:56 -0400</string>
		</dict>
		
		<dict>
			<key>Address</key>
			<string>9178226513</string>
			<key>Message</key>
			<string>seven</string>
			<key>State</key>
			<integer>1</integer>
			<key>TimeStamp</key>
			<string>2006-04-20 15:43:56 -0400</string>
		</dict>
		
		<dict>
			<key>Address</key>
			<string>9178226513</string>
			<key>Message</key>
			<string>six</string>
			<key>State</key>
			<integer>1</integer>
			<key>TimeStamp</key>
			<string>2006-04-20 15:43:56 -0400</string>
		</dict>
		
		<dict>
			<key>Address</key>
			<string>9178226513</string>
			<key>Message</key>
			<string>five</string>
			<key>State</key>
			<integer>1</integer>
			<key>TimeStamp</key>
			<string>2006-04-20 15:43:56 -0400</string>
		</dict>
		
		<dict>
			<key>Address</key>
			<string>9178226513</string>
			<key>Message</key>
			<string>four</string>
			<key>State</key>
			<integer>1</integer>
			<key>TimeStamp</key>
			<string>2006-04-20 15:43:56 -0400</string>
		</dict>
		<dict>
			<key>Address</key>
			<string>9178226513</string>
			<key>Message</key>
			<string>three</string>
			<key>State</key>
			<integer>1</integer>
			<key>TimeStamp</key>
			<string>2006-04-20 15:43:56 -0400</string>
		</dict>
			<dict>
				<key>Address</key>
				<string>9178226513</string>
				<key>Message</key>
				<string>i love you, sweetie!!</string>
				<key>State</key>
				<integer>1</integer>
				<key>TimeStamp</key>
				<string>2006-04-20 15:43:56 -0400</string>
			</dict>
		<dict>
			<key>Address</key>
			<string>9178226513</string>
			<key>Message</key>
			<string>This is really cool!</string>
			<key>State</key>
			<integer>1</integer>
			<key>TimeStamp</key>
			<string>2006-04-20 15:43:56 -0400</string>
		</dict>
	<dict>
		<key>Address</key>
		<string>9178226513</string>
		<key>Message</key>
		<string>Hi, Rob!</string>
		<key>State</key>
		<integer>1</integer>
		<key>TimeStamp</key>
		<string>2006-04-20 15:43:56 -0400</string>
	</dict>
		<dict>
			<key>Address</key>
			<string>9178226513</string>
			<key>Message</key>
			<string>two</string>
			<key>State</key>
			<integer>1</integer>
			<key>TimeStamp</key>
			<string>2006-04-20 15:43:56 -0400</string>
		</dict>
		<dict>
			<key>Address</key>
			<string>9178226513</string>
			<key>Message</key>
			<string>one</string>
			<key>State</key>
			<integer>1</integer>
			<key>TimeStamp</key>
			<string>2006-04-20 15:43:56 -0400</string>
		</dict>

	</array>
</dict>
</plist>
